@model IEnumerable<walkinthepark.Models.HikingTrail>

<div class="flex-container">
    <div class="flex-box">
        <div class="flex-table-row flex-table-header">
            <div class="flex-box flex-table-cell">
                @Html.DisplayNameFor(model => model.TrailName)
            </div>
            <div class="flex-box flex-table-cell">
                @Html.DisplayNameFor(model => model.TrailDifficulty)
            </div>
            <div class="flex-box flex-table-cell">
                @Html.DisplayNameFor(model => model.TrailLength)
            </div>
            <div class="flex-box flex-table-cell flex-long-cell">
                @Html.DisplayNameFor(model => model.TrailCondition)
            </div>
            <div class="flex-box flex-table-cell flex-long-cell">
                @Html.DisplayNameFor(model => model.TrailSummary)
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="flex-table-row">
                <div class="flex-box flex-table-cell">
                    @item.TrailName
                </div>
                <div class="flex-box flex-table-cell">
                    @item.TrailDifficulty
                </div>
                <div class="flex-box flex-table-cell">
                    @item.TrailLength
                </div>
                <div class="flex-box flex-table-cell flex-long-cell">
                    @item.TrailCondition
                </div>
                <div class="flex-box flex-table-cell flex-long-cell">
                    @item.TrailSummary
                </div>
            </div>
            @Html.HiddenFor(modelItem => item.TrailId)
            @Html.HiddenFor(modelItem => item.HikingApiCode)
        }
    </div>
</div>
