@model walkinthepark.Models.HikerParkWishlist
@*@model IEnumerable<walkinthepark.Models.HikerParkWishlist>*@

@*@await Html.PartialAsync("_WishlistPartialView", Model)*@
@*@{
        HikerParkWishlist parkInWishlist = Model.ToList().FirstOrDefault();
    }*@

@*@{
        Park wishlistPark = Model.ToList().FirstOrDefault();
    }*@

<h3 class="text-center">National Parks Wishlist</h3>
@*@foreach (var item in Model.Wishlists)
    {
        <p>@Html.DisplayFor(modelItem => item.ParkName)</p>
    }*@
@*@{
        // Create an empty list for the marker values to add into
        List<walkinthepark.Models.HikerParkWishlist> wishlist = new List<HikerParkWishlist>();
    }

    @foreach (var item in wishlist)
    {
        // Add Markers
        HikerParkWishlist wishlistItems = new HikerParkWishlist();
        //Assign required parameters
        wishlistItems.ParkName = item.ParkName;
        //Actually add all three values together into the parkMarker object
        wishlist.Add(wishlistItems);

        <p>@Html.DisplayFor(modelItem => item.ParkName)</p>
    }*@

@*@if (Model != null)
    {
        @foreach (var item in Model.Wishlists)
        {
            <p>@Html.DisplayFor(modelItem => item)</p>
        }
    }*@
@*<label asp-for="@parkInWishlist.ParkName"></label>
    @foreach (var record in Model)
    {
        <p>@record.ParkName</p>
    }*@

@*@foreach (var record in Model.ParkName)
{
    await Html.PartialAsync("_WishlistPartialView",
        record,
        new HikerParkWishlist())
}*@