@model walkinthepark.Models.Park

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Park</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkLatitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkLatitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkLongitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkLongitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkCode)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
