@model walkinthepark.Models.Park
@using Microsoft.AspNetCore.Identity
@inject IEnumerable<walkinthepark.Services.Interfaces.IHikingTrailService> HikingTrails
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}
<div class="flex-container">
    <div class="flex-box">
        <div class="header-container">
            <h1>@Model.ParkName</h1>
            <div class="weather-info">
                <h2>Current Weather</h2>
                <div>
                    <span>@Model.CurrentWeatherInfo.Temperature &deg;F | </span>
                    <span>@Model.CurrentWeatherInfo.Condition | </span>
                    <span>Wind: @Model.CurrentWeatherInfo.Wind mph</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex-container">
    <div class="flex-box">
        <div class="content-box">
            @Html.ActionLink("Add Park to Wish List", "AddParkToWishListHelper", "Wishlist", new { @id = Model.ParkId }, new { @class = "btn btn-default" })
            <h3>Located in: @Model.ParkState</h3>
            <p>@Model.ParkDescription</p>
        </div>
    </div>

    @{
        // Create an empty list for the marker values to add into
        List<walkinthepark.Models.ParkMarkers> parkMarkers = new List<walkinthepark.Models.ParkMarkers>();
    }
    <div class="flex-box solo-park-map">
        <div id="map"></div>
    </div>
</div>

<div class="flex-container">
    <div class="flex-box">
        <div class="park-header">
            <h2>Trails available at <em>@Model.ParkName</em></h2>
        </div>
    </div>
</div>

@* Has to be here in order to pass anything to the Partial View of the Hiking Trails *@
<div class="flex-container">
    <div class="flex-box">
        <div class="content-box">
            <input type="button" value="Fetch Trails" onclick="location.href='@Url.Action("FetchTrailsRestHelper", "HikingTrail", new { id = Model.ParkId })'" />
        </div>
    </div>
</div>

@* Both work, both are referencing the list on the Park Model page *@
<!--<partial name="../Shared/_hikingTrailsPartialView.cshtml" for="HikingTrail" />--> @*Referencing the list on the Park Model*@
<partial name="../Shared/_hikingTrailsPartialView.cshtml" model="@Model.HikingTrail" /> @*Referencing the list on the Park Model*@

<div class="flex-container">
    <div class="flex-box">
        <div class="content-box">
            @Html.ActionLink("Back to Parks", "Index", "Park", null, new { @class = "btn btn-default crud-links" })
            @Html.ActionLink("Delete Park", "Delete", "Park", new { id = Model.ParkId }, new { @class = "btn btn-danger crud-links" })

            @Html.HiddenFor(model => model.ParkLatitude)
            @Html.HiddenFor(model => model.ParkLongitude)
        </div>
    </div>
</div>

<script>
var map;
function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: @Model.ParkLatitude, lng: @Model.ParkLongitude }, // General Middle of the US
        zoom: 5
    });

    marker = new google.maps.Marker({
        position: { lat: @Model.ParkLatitude, lng: @Model.ParkLongitude },
    map: map
    });

}
</script>
<script src='https://maps.googleapis.com/maps/api/js?key=@(ViewData["GoogleMapsJsKey"])&callback=initMap' async defer type="text/javascript"></script>
