@model walkinthepark.Models.Hiker
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}
<div class="content-box">
    <h1>@Model.FirstName Details</h1>
</div>

<div class="flex-container flex-baseline light-brown">
    <div class="flex-box">
        <div class="content-box">
            <dl class="row">
                @Html.HiddenFor(model => model.HikerId)
                @Html.HiddenFor(model => model.Latitude)
                @Html.HiddenFor(model => model.Longitude)
                @Html.HiddenFor(model => model.ApplicationId)
                @Html.HiddenFor(model => model.ApplicationUser)
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.StreetAddress)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.StreetAddress)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.City)
                </dd>
                @*<dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.EnumState)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.EnumState)
                </dd>*@
            </dl>

            @Html.ActionLink("Delete Profile", "Delete", "Hiker", new { id = Model.HikerId }, new { @class = "btn btn-danger crud-links drop-shadow" })
            @Html.ActionLink("Edit Profile", "Edit", "Hiker", new { id = Model.HikerId }, new { @class = "btn btn-default crud-links medium-brown drop-shadow" })
            <a asp-action="Index" asp-controller="Home" class="btn btn-default crud-links medium-brown drop-shadow">Back to Home</a>
        </div>
    </div>

    @if (Model.EmptyWishlist.Equals(true))
    {
        <div class="flex-box">
            <div class="content-box">
                <h2 class="text-center">Wish List</h2>
                <ul class="list-group drop-shadow alt-list-bg">
                    @foreach (var park in Model.Wishlists)
                    {
                        <li class="list-group-item">@park.ParkName</li>
                    }
                </ul>
            </div>
        </div>
    }
</div>